.accessoriesOverviewBlock {
    
    margin: 10px 0;
}

.accessoriesOverviewText {
    color: blue;
    display: inline-block;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.accessoriesOverviewImg {
    color: blue;
    display: inline-block;
    text-align: center;
}

.accessoriesOverviewImg img {
    width: 100%;
}

.thumbPalette {
    
}