#basketHeader {
    margin: 10px auto;
}

#emptyBasket {
    text-align: center;
}

.basketProductItem {
    display: inline-block;
    text-align: center;
    margin: 0px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 180px;
}

.basketProductThumb {
    float: left; 
}

.basketProductImage {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    max-height: 150px;
}

.basketProductAPB {
    margin-top: 40px;
    float: right;
}

.basketProductPoint {
    display: block;
    margin: 0px;
}

#modelName {
    font-size: 12px;
    height: 30px;
    display: inline-block;
    clear: both;
}

#basketProductPrice {
    color: red;
    display: block;
}

.addOrRemove {
    display: block;
}

button {
    margin: 5px;
    box-shadow: 0.7px 1px 5px 0px rgba(0, 0, 0, 0.68), inset -0.01px -0.06px 1.2px 0.01px #89847e;
}

button:active{
    transform: translate(0.7px, 1px);
    box-shadow: none;
}

.qtyInc {
    height: 40x;
    width: 40px;
}

.totalHeader {
    float: left;
}

.totalBasketPrice {
    color: red;
}