.categoryOverviewBlock {
    margin: 10px 0;
}

.categoryOverviewText {
    color: blue;
    display: inline-block;
    text-align: center;
    margin: auto;
}

.categoryOverviewImg {
    display: inline-block;
}

.categoryOverviewImg img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
