
.footer {                
    position: absolute;    /*this and below is required to keep the footer at the bottom of the page, if content doesn't fill view; and below all content if content exceeds view field.*/
    right: 0;
    bottom: 0;
    left: 0;               /*this and above is required to keep the footer at the bottom of the page, if content doesn't fill view; and below all content if content exceeds view field.*/
}
.footer {
    width: 100%;
    background-color: #3CA500; /*#009900*/
    box-shadow: -0.7px -1px 5px 0px rgba(0, 0, 0, 0.68);
    font-size: 11px;
}

.footerContents {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: white;
}

.footer i {
    font-size: 25px;
    margin: 5px;
}

.smallDisclaimer {
    font-size: 9px;
}

    .bigDisclaimer {
      margin-bottom: 10px;
    }
    .address {
      margin-bottom: 10px;
    }

@media only screen and (min-width: 768px) { /*no longer need to keep these divs spaced in larger screen since they are now side by side, not on top of one another*/
    .bigDisclaimer {
      margin-bottom: 0px;
    }
    .address {
      margin-bottom: 0px;
    }
}