.container {
    color: black;
}

.homeHeader {
    margin-top: 10px;
}

.homeHeader h1 {
    font-size: 50px;
}

.underlinerOutside {
    background-color: #3CA500;
    border-radius: 5px;
    box-shadow: 0.7px 1px 5px 0px rgba(0, 0, 0, 0.68);
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

.underlinerInside {
    border-radius: 5px;
    background-color: #009900;
    height: 10px;
    font-size: 10px;
}

.activeUnderliner {
    background-color: #3CA500;
    border-radius: 5px;
    box-shadow: 0.7px 1px 5px 0px rgba(0, 0, 0, 0.68);
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    cursor: pointer;
}

.pullDownTop {
    display: block;
    color: white;
}

.pullUpTop {
    display: none;
    color: white;
}

.pullUpBottom {
    display: block;
    color: white;
}

.homeHeadSmall {
    display: block;
}

.smallHomeIntro {
    display: none;
    margin-bottom: 10px;
    color: #3CA500;
}

.bigHomeIntro {
    margin-bottom: 10px;
    color: #3CA500;
}

.homeHeadBig {
    display: none;
}

#myCarousel {
    margin: 10px 0px;
    display: block;
}

.carousel-indicators {
    cursor: pointer;
}

.carousel-inner {
    border-radius: 5px;
}

.categoryPics img {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 768px) { /**/
        .homeHeadSmall {
            display: none;
        }
        .homeHeadBig {
            display: block;
        }
        .categoryPics img {
            margin-top: 0px;
            margin-bottom: 0px;
        }
}