nav {
	background-color: #3CA500;
	overflow: hidden;
	padding: 1em;
	box-shadow: 0.7px 1px 5px 0px rgba(0, 0, 0, 0.68);
	font-family: 'Righteous', cursive;
}

a {
	color: #FFF;
	text-decoration: none;
}

a:visited {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

.navWide {
	display: none;
	margin: 0 auto;
}

.wideDiv{
	text-align: center;
}

.wideDiv img {
	max-height: 50px;
	margin-top: -10px;
}

.wideDiv a {
	padding: 0 0.5em;
	display: inline;
}

.wideDiv form {
	padding: 0 0.5em;
	display: inline;
}

.wideDiv #searchBox {
	display: inline;
	width: 155px;
}

.navNarrow i {
	color: #FFF;
	float: left;
	cursor: pointer;
}

.navNarrow i:hover {
	color: #F0F;
}

.narrowLinks {
	display: none;
}

.narrowLinks a {
	display: block;
	float: left;
	clear: left;
	padding: 0.5em 0;
}

.narrowLinks img {
	max-height: 30px;
}

.narrowLinks form {
	padding: 0.5em 0;
	display: block;
	float: left;
	clear: left;
}

.narrowLinks form .narrowSearchBox {
	width: 100px;
}



@media only screen and (min-width: 768px) { /*this is the width that is classed as medium screensize in bootstrap*/
	    .navWide {
		display: block;
		}
		.navNarrow {
			display: none;
		}
}